body {
	font-family: 'Source Code Pro', monospace;
	margin: 0px;
	padding: 0px;
}

section {
	min-height: 100vh;
}

.scheme-1 {
	color: #ebdbb2;			/* fg, fg1 */
	background-color: #1d2021	/* bg0_h */
	/*background-color: #282828;	/* bg, bg0 */
}

.scheme-2 {
	color: #ebdbb2;			/* fg2 */
	background-color: #282828;	/* bg0 */
	/*background-color: #3c3836;	/* bg1 */
}

#about {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	font-size: 40px;
	padding: 10px;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 8%;
}

.container-2 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	text-align: center;
}
